/* Color palette */

$teal-50: #f0fdfa;
$teal-100: #ccfbf1;
$teal-200: #99f6e4;
$teal-500: #14b8a6;
$teal-800: #115e59;

$top-bar-bg: $teal-500;
$side-bar-bg: $teal-800;
$main-content-bg: $teal-50;

/* Fonts */

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

/* Styles */

html,
body,
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Nunito';
  font-size: 24px;
  font-size: min(4vmin, 2.8vmax);
}

.holy-grail {
  height: 100%;

  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;

  & > * {
    padding: 8px;
  }

  & > .top-bar {
    background-color: $top-bar-bg;
    color: $teal-100;
    text-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.8);
    font-weight: 600;
    font-size: 38px;
    font-size: min(7vmin, 5vmax);

    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .side-bar {
    background-color: $teal-800;
    color: $teal-100;

    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  & > .main-content {
    background-color: $main-content-bg;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
}

.project {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2%;
  border-radius: 5px;

  &:hover {
    background-color: rgba($color: $teal-50, $alpha: 0.6);
    color: black;
  }
}

.projects-title {
  font-weight: 600;
}

.projects-body {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: overlay;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  gap: 4px;
}

.selected-project {
  background-color: rgba($color: $teal-50, $alpha: 0.9);
  color: black;

  &:hover {
    background-color: rgba($color: $teal-50, $alpha: 0.9);
  }
}

.add-task {
  width: max-content;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    background-color: $teal-200;
    box-shadow: 5px 5px 5px gray;
  }
}
