/* Color palette */

$teal-50: #f0fdfa;
$teal-100: #ccfbf1;
$teal-200: #99f6e4;
$teal-500: #14b8a6;
$teal-800: #115e59;

$amber-600: #d97706;

$top-bar-bg: $teal-500;
$side-bar-bg: $teal-800;
$main-content-bg: $teal-50;

$edit-task-btn: $amber-600;
$action-task-btn: $teal-500;
$delete-task-btn: tomato;

/* Fonts */

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

/* Mixins */

@mixin circular-btn {
  width: clamp(20px, 4vmax, 44px);
  aspect-ratio: 1;
  padding: 0;
  border: none;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

/* Styles */

html,
body,
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Nunito';
  font-size: 24px;
  font-size: min(4vmin, 2.8vmax);
}

.holy-grail {
  height: 100%;

  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 80%;

  & > * {
    padding: 8px;
  }

  & > .top-bar {
    background-color: $top-bar-bg;
    color: $teal-100;
    text-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.8);
    font-weight: 600;
    font-size: 38px;
    font-size: min(7vmin, 5vmax);

    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .side-bar {
    background-color: $teal-800;
    color: $teal-100;

    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & > .main-content {
    background-color: $main-content-bg;
    overflow: auto;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }
}

.project {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2%;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.5);

  &:hover {
    background-color: rgba($color: $teal-50, $alpha: 0.6);
    color: black;
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }
}

.add-project {
  justify-self: center;
  width: clamp(24px, 5vmin, 48px);
  aspect-ratio: 1;
  padding: 0;
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $teal-200;
    box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.5);

    &:active {
      box-shadow: none;
    }
  }
}

.projects-title {
  font-weight: 600;
}

.projects-body {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: overlay;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  gap: 8px;
}

.selected-project {
  background-color: rgba($color: $teal-50, $alpha: 0.9);
  color: black;

  &:hover {
    background-color: rgba($color: $teal-50, $alpha: 0.9);
  }
}

.selected-project-display {
  font-weight: 600;
}

.add-task {
  @include circular-btn();

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $teal-200;
    box-shadow: 5px 5px 5px gray;

    &:active {
      box-shadow: none;
    }
  }
}

.task {
  width: 100%;
  height: 10vh;
  min-height: 140px;
  background-color: rgba($color: gray, $alpha: 0.2);
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr min(4vmax, 50px);
  grid-template-columns: 1fr min(max(34px, 4vmax), 104px);

  & > * {
    padding: 8px;
  }

  .task-title {
    color: $teal-800;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;

    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > input {
      width: 80%;
      height: 60%;
      font-size: min(4vmin, 2.8vmax);
    }
  }

  .task-complete {
    color: gray;
    text-decoration-line: line-through;
  }

  .task-edit {
    padding: 4px;
    padding-right: 8px;

    grid-row: 1 / span 2;
    grid-column: 2 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
      @include circular-btn();

      background-color: $edit-task-btn;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.25);

      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        box-shadow: none;
      }

      & > img {
        width: 90%;
        height: 90%;
      }
    }
  }

  .task-action {
    padding: 0;

    grid-row: 2 / span 1;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
      @include circular-btn();

      background-color: $action-task-btn;
      margin-bottom: 8px;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.25);

      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        box-shadow: none;
      }

      & > img {
        width: 90%;
        height: 90%;
      }
    }

    & > button.task-delete {
      @include circular-btn();

      background-color: $delete-task-btn;
      margin-bottom: 8px;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.25);

      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        box-shadow: none;
      }

      & > img {
        width: 90%;
        height: 90%;
      }
    }
  }
}
